.product{
    display: flex;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid gray;
}
.information{
    color: brown;
    padding-left: 20px;
} 
.main-button{
    height: 40px;
    width: 200px;
    font-size: 15px;
    background-color: goldenrod;
    border: 2px solid gray;
    border-radius: 5px;
}   